{% extends 'blog/base.html' %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image:url('static/img/home-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Tobi Allen's Blog</h1>
                    <span class="subheading">A Developer's Blog by Tobi Allen</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
            <div class=" post-preview">
                <a href="{% url 'post_detail' slug=post.slug %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle|linebreaksbr }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{ post.author }}</a>
                    {{ post.published_date }}
                    <a href="{% url 'post_detail' slug=post.slug %}" style="float: right;">Comments:
                        {{ post.comments.count }}</a>
                </p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix float-right">
                {% if is_paginated %}

                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}