{% extends 'blog/base.html' %}

{% block content %}
<!-- <div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
</div> -->

<header class="masthead"
    style="background: url({{post.featured_image.url}}) no-repeat; background-size: cover;  background-position: center;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Posted by
                        <a href="#">{{ post.author }}</a>
                        {% if post.published_date %}
                        on {{ post.published_date }}</span>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.slug %}">Update</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</article>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                <h2>Leave your comment!</h2>
                <div id="comments_section">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form.as_p }}
                            <button class="btn btn-info" type="submit">Add comment <i
                                    class="fas fa-comments"></i></button>
                        </div>
                    </form>

                    {% if comments %}
                    <strong class="text-secondary">{{ object.number_of_comments }}
                        Comment{{ object.number_of_comments|pluralize }}</strong>
                    <hr>
                    <ul>
                        {% for comment in comments %}
                        <li>
                            <div>
                                <span>
                                    <strong class="text-info">{{ comment.author }} </strong>
                                    <small class="text-muted">{{ comment.created_date }}</small>
                                </span>
                                <p>
                                    {{ comment.text|safe }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
                    {% endif %}
                </div>
            </div>
        </div>
</section>

<section>

</section>


{% endblock %}